:root {
  --space: 1.5rem;
  --width_img_: 80%;

  --primary: #ccc;
  --secondary: #ccc;
  --shaddow: 1px 1px 3px #2c2c2c34;
}
.body_moj {
  background-color: #ffb6c1;
}
.shop_main_moj {
  background-color: #ffb6c1;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
  box-shadow: none;
  padding: 1rem;
  height: 250vh;
  gap: var(--space);
}

.shop_container {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
}

.shop_container div {
  width: 32%;
  height: 80%;
  margin: var(--space);
}

.shop_container .shop_middle {
  width: 50%;
  height: 100%;
}

.shop_small {
  height: 80%;
}

.shop_top_middle {
  transform: scaleY(1.2);
}

.des_container {
  width: 100%;
  display: flex;
}

.shop_des {
  width: 50%;
}

#moj-art01 {
  width: 96%;
  height: 100%;
}
#moj-art02 {
  width: 100%;
  height: 90%;
  overflow: hidden;
}
#moj-art03 {
  width: 85%;
  height: 80%;
  overflow: hidden;
}
.shop_container h2 {
  font-size: 30px;
  color: #ff1493;
  background-color: #ffb6c1;
  border: none;
  text-align: center;
  text-shadow: none;
}
.moj_nav {
  background-color: #ff1493;
}
.header_moj {
  background-color: #ffb6c1;
}
.button-moj {
  background-color: transparent;
  color: #f8f2f5;
  background-color: #ff1493;
  width: 8rem;
  height: 2.5rem;
  font-family: "Teko", sans-serif;
  font-size: 18px;
  letter-spacing: 0.05rem;
  border: solid 1px #ff1493;
  border-radius: 0.3rem;
}

.button-moj:hover {
  background-color: #c71585;
  border-color: #ff1493;
  transition: 1.5s;
}
.input_moj {
  height: 4rem;
}
/* @media screen and (max-width: 1124px) {
  .shop_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
} */
